
<div class="card row" style="max-width: 70rem;">
  
    <div class="card-header ">
      <h2>{{title}}</h2>
   
        by {{user.username}} on {{format_date created_at}}
  
   </div>
  <div class="card-body"> 
    <article> 
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div> 
    </article>
  </div>
</div>

